/* General Styles */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Belleza', sans-serif;
    color: #818A84;
    min-height: 200vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
}

h1 {
    font-weight: normal;
    letter-spacing: 8px;
    font-size: 50px;
    text-align: center;
    display: block;
    margin: 5px;
}

p {
    font-weight: normal;
    letter-spacing: 4px;
    font-size: 20px;
    text-align: justify;
    display: block;
    padding: 0 40px 40px 40px;
}

div{
    padding-top: 80px;
    align-content: center;
}

/* Navigation Bar */
nav{
    background: white;
    height: 80px;
}

label.logo{
    color: #818A84;
    font-size: 35px;
    line-height: 80px;
    padding: 0px 50px;
    text-transform: uppercase;
    letter-spacing: 8px;   
    float: left;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #818A84;
    font-size: 17px;
    padding: 13px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

a:hover{
    background: #4d5f53;
    color: white;
}

.checkbutton{
    font-size: 30px;
    color: #818A84;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


/* Main Section Styles */
div.main{
    position: relative;
    width: 100%;
    height: 100vh;
}


div.image{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    flex: 50%;
    padding: 0 4px;
}

div.image img{
    margin-top: 8px;
    padding: 40px;
    height: 500px;
    vertical-align: middle;
}

/* Home Section Styles */

div.home{
    padding-top: 0;
}

#logo{
    height: 800px;
    width: auto;
}

img.vertical {
    height: 700px;
}

/* Responsive Breaks and Changes */
@media (max-width: 1080px){

    /* Navigation Bar */
    label.logo{
        font-size: 30px;
        padding-left: 25px;
    }

    nav ul li a{
        font-size: 16px;
        letter-spacing: 2px;
    }
}

@media (max-width: 910px){

    /* Navigation Bar */
    .checkbutton{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #3a473f;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
        color: white;
    }

    a:hover{
        background:none;
        color: #818A84;
    }

    #check:checked ~ ul{
        left:0;
    }

    /* Main Section Styles */
    div.image{
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    /* Home Section Styles */
    #logo{
        height: 500px;
        width: auto;
    }
}